#ignismyModal .modal-content{
  background:url('https://i.imgur.com/Ee58jD8.png');
  width:420px;
  height:210px;
  background-repeat:no-repeat;
  background-position:center;
}
*{
  font-family: 'Noto Sans TC', sans-serif;
}
#ignismyModal .modal-body{
  color:#1A3854;
}
#ignismyModal .modal-header{
    border:0px;
}
