@import
	url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap')
	;

* {
	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif !important;
}

body {
	position: relative;
}

.idEmptyError {
	margin-top: 5px;
	margin-bottom: -5px;
	font-size: 12px;
	color: red;
	visibility: hidden;
}

.passwordEmptyError {
	margin-top: 5px;
	margin-bottom: -5px;
	font-size: 12px;
	color: red;
	visibility: hidden;
}

.loginError {
	font-size: 16px !important;
	color: red;
}

/* 背景顏色 */
#bg-color {
	background-color: rgb(1, 6, 29);
}