@import
	url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap')
	;

* {
	font-family: 'Noto Sans TC', sans-serif !important;
}

/* 置頂按鈕 設定 */
#myBtn {
	z-index: 99;
	/* 初始化不顯示 */
	/* display: none; */
	/* fixed = 畫面的絕對位置，所以會跟著跑 */
	position: fixed;
	/* 離下面30 pixel */
	bottom: 30px;
	/* 離右邊30 pixel */
	right: 10px;
	/* 半徑圓 */
	border-radius: 30px;
	/* 背景色 */
	background-color: white;
	/* 透明度 */
	opacity: 0.5;
	/* 游標指過去會變手指 */
	cursor: pointer;
	/* 控制按鈕寬度 */
	width: 50px;
}

html, body {
	scroll-behavior: smooth;
}

/* 背景顏色 */
#bg-color{
  background-color: rgb(219, 219, 219);
  padding-bottom: 50px;
}

body {
	background-color: #f5f5f5;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
}

h1, h2 {
	font-weight: 600;
}

/*search bar*/
.search {
	width: 100%;
	display: flex;
}

.searchTerm {
	width: 100%;
	border: 3px solid #005caf;
	border-right: none;
	padding-left: 5px;
	border-radius: 5px 0 0 5px;
	outline: none;
	font-size: 16px;
}

.searchTerm:focus {
	color: #005caf;
}

.searchButton {
	width: 40px;
	height: 38px;
	border: 1px solid #005caf;
	background: #005caf;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
	width: 30%;
}

/* 文章卡片 */
.badge {
  font-size: 15px;
}

.nayma-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.nayma-container::after {
  content: "";
  display: table;
  clear: both;
}

#nayma-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#nayma-timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: rgba(0, 0, 0, 0.15);
}

.nayma-timeline-block {
  position: relative;
  margin: 2em 0;
}

.nayma-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}

.nayma-timeline-block:first-child {
  margin-top: 0;
}

.nayma-timeline-block:last-child {
  margin-bottom: 0;
}

.nayma-timeline-img {
  background: #005caf;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
  margin-top: 10px;
}

.nayma-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
}

.nayma-timeline-content:hover{
  cursor: pointer;
}

.nayma-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}

.nayma-timeline-content h2 {
  color: #303e49;
}

.nayma-timeline-content p,
.nayma-timeline-content {
  font-size: 12px;
  font-size: 0.7125rem;
}

.nayma-timeline-content .nayma-timeline-content {
  display: inline-block;
}

.nayma-timeline-content p {
  font-weight: 300;
  margin: 1em 0;
  line-height: 1.6;
}

.nayma-timeline-content::before {
  content: "";
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  .nayma-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .nayma-timeline-content p {
    font-size: 16px;
    font-size: 0.9rem;
  }
}

#by-date:hover,
#by-popular:hover {
  height: 46px;
  border: #005caf 2px solid;
  background-color: #fff !important;
  color: #005caf !important;
}