@import
	url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap")
	;

* {
	box-sizing: border-box;
	font-family: "Noto Sans TC", sans-serif !important;
}

body {
	position: relative;
}

/* 背景顏色 */
#personForm {
	background-color: rgb(219, 219, 219);
}

#personPage {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

#header {
	border-bottom: white 1px solid;
}

#boxHeadPicture img {
	width: 120px;
}

.card ul li:hover {
	background-color: #c4bebe;
	color: white;
	cursor: pointer;
}

.list-unstyled li a {
	color: #033c73;
}

.list-group a {
	color: #212529 !important;
	text-decoration: none !important;
}

/* 漢堡選單的時候 */
@media only screen and (max-width: 991px) {
	#personPage {
		height: auto !important;
	}
}