* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Noto Sans TC', sans-serif;
    
}

.mainContent{
    width: 90vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

/* .info_img{ */
/* 	width:50%; */
/*     display: flex; */
/*     justify-content: center; */
/*     align-items: center; */
/* } */

.info_img img{
    width: 700px;
    margin-top:100px;
}



.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
}


/*簡介文字大小*/
ul{
	margin-left:20px;
	font-size:1.3rem;
}

.letterImg{
    width: 100px;
}

.btnGroup{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}


/*四個按鈕那邊*/
.btn{
	text-align: center;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.1rem;
    margin: 0.7rem 5px;
    /*讓顏色從左到右*/
    background-image: linear-gradient(to right, #0e2640, #0b2a4b, #1d4570);
    cursor: pointer;
    font-family: 'Noto Sans TC', sans-serif;
    background-size: 200%;
    transition: .5s;
    color: #fff;
}

.btnError{
	text-align: center;
	width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 1.1rem;
    margin: auto 5px;
	background :#ccc;
	opacity:0.5;
	cursor:pointer;
	color: #fff;
}

/*三個按鈕的裡的文字*/
a{
    text-decoration: none;
}

.btn:hover{
    background-position: right;
    color: #fff;
}

@media screen and (max-width:1500px){
	
		.info_img img{
        width: 600px;
        margin-top:100px;
    }

	}

@media screen and (max-width:1200px){
	
	.intro-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:50px;
}
	
    .info_img img{
    	margin:150px auto auto 100px;
        width: 450px;
    }
	
	
    ul{
    	
        font-size: 0.9rem;
    }
    
    .btnGroup{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}
	.btn,.btnError{
	font-size:0.9rem;
		width:120px;
		height: 40px;
	}
    
}



@media screen and (max-width:1000px){
	
	.mainContent{
	
    width: 90vw;
    height: 100vh;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
    
}
	
    .info_img img{
    	margin-top:100px;
        width: 400px;
    }

    ul{
        font-size: 0.9rem;
    }
    
    .btn,.btnError{
   		 width: 150px;
   		 font-size:0.8rem;
    }
}

@media screen and (max-width:900px){
	
	.info_img{
	width:fit-content;
	height:fit-content;
	}
	
     .info_img img{
        width: 300px;
    }

    h1{
        font-size: 2.4rem;
    }

    ul{
    width:400px;
        font-size: 0.8rem;
    }

    .btn,.btnError{
        width: 90px;
       	font-size:0.7rem;
    }
    
 	.btnGroup{
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
  	align-items: center; 
 	
 	}
 	 
}

@media screen and (max-width:600px){
	

	
    .intro-container{
        width: 100%;
    }

    .info_img{
        display: none;
    }

	.info_img img{
	 display: none;
	}

    ul{
        font-size: 1.2rem;
        margin: 10px;
    }
    
    a{
    	margin:0 auto;
    }
    
    .btnGroup{
    display: grid;
	justify-content: center;
  	align-items: center; 
	
}


}