*{
	margin :0;
	padding:0;
	box-sizing: border-box;
}


body{
    background: #3A405A;
}

#contentLength {
    color: #7E6B8F;
    font-family: 'Noto Sans TC', sans-serif;
}

h4{
	font-family: 'Noto Sans TC', sans-serif;
}

#letterContent{
    display: flex;
    box-sizing: border-box;
    height: 200px;
    margin : 0 auto;
    outline:none;
    border:none;
    border-bottom:1px solid #3D5E8D;
    letter-spacing:1px;
    resize:none;
}

#cardBody{
    border-radius: 20px 20px 20px 20px;
}

#titleInput2
{
	background:transparent;
	border:none;
	outline:none;
	border-bottom:1px solid #3D5E8D;
}
