*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}

 body
{
    background: aliceblue;
}

/*回應的部分*/
.letterText textarea{
    position: absolute;
    margin-top: 20px;
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: none;
    width: 90%;
    height: 270px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    resize: none;
}

/*左邊的卡片*/
.mainContainer .letterCard .contentBox{
    position: relative;
    width: 550px;
    height: 450px;
     box-sizing: border-box;
     box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
     z-index:-1;
     border-radius:10px;
}

/*左邊卡片的內容*/
.mainContainer .letterCard .contentBox .content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size:1.3rem;
    background: #f3f5d3;
    z-index: 1;
/*     opacity: 0.7; */
    box-sizing: border-box;
}


.mainContainer .letterCard .content p
{
    margin-top: 10px;
    color: black;
     padding:10px;
}

.mainContainer .letterCard .content h4
{
    color: black;
    font-size: 30px;
   margin:20px auto auto 10px;
}

.mainContainer .letterCard .content h5
{
	font-size:24px;
	 margin:10px auto auto 10px;
}

.mainContainer .letterCard .replyContentBox
{
    position: relative;
    width: 550px;
    height: 450px;
/*     background: #E4DEE4; */
    background: #d5edf2;
    box-sizing: border-box;
	margin-left:150px;
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.5);
    border-radius:10px;
}

.fakeLetter
{	
	opacity:0;
	margin-bottom:40px;
	width:80px;
	height:85px;
	background:#acdce6;
	z-index:-1;
}



@media (max-width: 1000px)
{
    .mainContainer .letterCard
    {
        flex-direction: column;
    }

    .mainContainer .letterCard .contentBox{
        width: 450px;
        height: 500px;
        left: 0;
        font-size: 0.8rem;

    }

    .mainContainer .letterCard .replyContentBox
    {
        width: 450px;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
        margin-top: 50px;
    }

    
}

