*{

	margin :0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Noto Sans TC', sans-serif;
}

body{
	
	width: 100%;
    min-height: 100vh;
    background: #abdff8;
}

#contentLength {
    color: green;
    font-family: 'Noto Sans TC', sans-serif;
}

 .mainContainer
{
      display: flex;
    flex-direction:row;
    justify-content: flex-end;
/*     width: 1600px; */
/*     height: 800px; */
	width: 100vw;
    height: 100vh;
}

/*卡片的內容*/
.mainContainer  .content
{
	position:absolute;
	top:0;
	left:0;
    display: flex; 
    align-items: center;
    width: 700px;
    height: 600px;
    background: #F4F4F9;
    font-size: 0.9rem;
    object-fit: cover; 
    padding: 20px 20px 100px 30px; 
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
/* box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3); */
   margin-top:10%;
    margin-left:15%;
}  


/*標題框div*/
.letterInput{
    margin-top: 70px;
    position: relative;
    height: 40px;
    width: 650px;
}

/*標題框input*/
.letterInput input[type="text"]
{
    position: absolute;
    background: transparent;
    border:none;
    outline:none;
    box-shadow: none;
    font-size: 20px;
    color: black;
    width: 100%;
    padding-top: 10px;
}
/*信件標題*/
.letterInput label{
    position: absolute;
    top:0;
    left:0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
    font-size: 24px;
}

/*當input欄位被focus或是內容改變時，信件標題的文字向上35px*/
.letterInput input[type="text"]:focus + label,
.letterInput input[type="text"]:valid + label

{
    transform: translateY(-35px);
    font-size: 24px;
    color:#3D5E8D;
    background: transparent;
    padding: 2px 2px;
}

/*標題下方的border*/
.letterInput  span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;
}

/*border一開始的狀態 因為scaleX是0，所以目前沒反應 等focus或打字時 就會從右邊(transform-origin: right)回到灰色*/
.letterInput  span::before,
.letterText  span::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darkblue;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

/*focus或內打字時 下方的border會往從左邊開始往右成藍色*/
.letterInput input[type="text"]:focus ~ span::before,
.letterInput input[type="text"]:valid ~ span::before,
.letterText textarea:focus ~ span::before,
.letterText textarea:valid ~ span::before
{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}


 .letterText{
     margin-top: 50px;
    position: relative;
    height: 350px;
    width: 650px;
}

.letterText textarea{
    position: absolute;
    margin-top: 20px;
    outline: none;
    background: none;
    border: none;
    box-shadow: none;
    text-decoration: none;
    width: 100%;
    height: 270px;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    resize: none;
}

/*信件內容*/
.letterText label{
    position: absolute;
    top:0;
    left:0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
    font-size: 24px;
}

.letterText textarea:focus + label,
.letterText textarea:valid + label

{
    transform: translateY(-35px);
    font-size: 22px;
    color:#3D5E8D;
    background: transparent;
    padding: 2px 2px;
}

.letterText  span{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;
}


.sendBtnDiv{
	display:flex;
	item-direction:flex-end;
	padding-right:10px;
}

.sendBtn{
    margin-top: 20px;
    margin-left:auto;
    border: none;
    box-shadow: none;
    padding:10px 25px;
    background: rgb(14, 47, 97);
/*     background: rgb(225, 241, 237); */
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.sendBtn:hover{
    background: rgb(78, 131, 211);
}

.letterBoxArea{
	margin:200px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fakeLetter
{	
	opacity:0;
	margin-bottom:40px;
	width:80px;
	height:85px;	
	background:#f0f0f0;
	z-index:-1;
}