#pageBg {
  background: rgb(230, 230, 230);
}
.contentBox {
  background: rgba(255, 255, 255, 0.438);
}
.allProducts_spacing {
  padding-top: 30px;
}
.allProducts_button {
  position: relative;
  padding: 10px 10px;
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  width: 100px;
  overflow: hidden;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}

.allProducts_button span {
  position: relative;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
}

.allProducts_button .liquid {
  position: absolute;
  top: -80px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: #613111e5;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
}

.allProducts_button .liquid::after,
.allProducts_button .liquid::before {
  content: "";
  width: 200%;
  height: 200%;
  top: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -75%);
  background-color: #000;
}

.allProducts_button .liquid::after {
  border-radius: 40%;
  background-color: rgba(87, 39, 17, 0.5);
  animation: animate 10s linear infinite;
}

.allProducts_button .liquid::before {
  border-radius: 45%;
  background-color: rgb(49, 23, 7);
  animation: animate 5s linear infinite;
}

.allProducts_button:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: rgb(117, 75, 75);
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgb(119, 99, 99) !important;
}
#button-addon2:hover {
  background-color: rgb(119, 99, 99) !important;
}
.productRow:hover {
  background-color: rgba(58, 26, 26, 0.555);
  color: #fff;
}
