@import
	url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap")
	;

* {
	box-sizing: border-box;
	font-family: "Noto Sans TC", sans-serif;
}

.bgColor {
	position: absolute;
	background-color: rgba(0, 92, 175, 0.6);
	z-index: -101;
}

#bgGray {
	position: absolute;
	background-color: rgba(7, 7, 7, 0.432);
	z-index: 50;
	display: none;
}

#headDad {
	width: 100%;
	height: 78%;
	display: flex;
	justify-content: center;
}

#head {
	width: 60%;
	height: 100%;
	max-width: 700px;
	min-width: 500px;
	position: relative;
	bottom: 0px;
}

#bgImg {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -100;
}

#articleTitle {
	width: 40%;
	border-radius: 20px;
	margin-top: 10px;
	padding: 10px;
	background-color: rgba(102, 206, 231, 0.904);
}

.badge {
	font-size: 15px;
}

#articlePicture {
	width: 63%;
	margin-left: 20%;
}

#articleContent {
	height: 56%;
	width: 60%;
	margin-top: 3%;
	margin-left: 20%;
	word-break: break-all;
	overflow-y: auto;
}

/*-------滾動條整體樣式----*/
::-webkit-scrollbar {
	width: 6px;
}

/*滾動條裡面小方塊樣式*/
::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background: rgba(100, 100, 100, 0.5);
}

/*滾動條裡面軌道樣式*/
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.09);
}

#articleContent::-webkit-scrollbar {
  display: none;
}

.speechArea {
	position: absolute;
	width: 28%;
}

.speechDad {
	height: 100%;
	position: relative;
}

.speech-balloon1 {
	position: absolute;
	height: 95%;
	width: 100%;
	z-index: -90;
}

.comment {
	width: 75%;
	height: 35%;
	font-size: 16px;
	margin-left: 13%;
	word-break: break-all;
	overflow-y: auto;
}

pre{
	font-size: 18px;
}

.commentCount {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 100px;
  color: rgba(13, 29, 87, 0.171);
  z-index: -1;
}

.commentDate {
	width: 60%;
	margin-left: 20%;
	font-size: 10px;
}

#heart .normal:hover {
	/* width: 40px;
  height: 40px; */
	border: 1px solid rgb(172, 79, 79) !important;
	color: rgb(172, 79, 79) !important;
	/* cursor: pointer; */
}

#heart .normal {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	color: black;
	cursor: pointer;
}

#heart .like {
	width: 40px;
	height: 40px;
	border: 1px solid red;
	color: red;
	cursor: default;
}

/* 我要留言按鈕 */
#commentBtnArea {
	position: absolute;
	left: 48%;
	bottom: 3%;
	background-color: rgba(100, 194, 189, 0.795);
	border: 0px;
	box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	z-index: 200;
}

#commentBtnArea:hover, #commentBtnArea:focus {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(100, 194, 189,
		0.595)), to(rgba(100, 194, 189, 0.795)));
}

#commentBtnArea:active {
	background: rgba(100, 194, 189, 0.9);
}

#commentArea {
	position: fixed;
	bottom: 8%;
	left: 30%;
	height: 300px;
	width: 40%;
	display: none;
	z-index: 100;
}

#myCommentBg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 10px;
	z-index: -100;
}

#myCommentContent {
	position: fixed;
	bottom: 8%;
	left: 30%;
	height: 300px;
	width: 40%;
	display: none;
	z-index: 150;
}

/* 送出留言按鈕 */
#sendCommentBtn {
	background-color: rgb(148, 212, 231);
	position: absolute;
	left: 70%;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

#sendCommentBtn:hover, #sendCommentBtn:focus {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 188, 219,
		0.8)), to(rgba(84, 188, 219, 0.9)));
}

#sendCommentBtn:active {
	background: rgb(84, 188, 219);
}

#turnBackBtn {
	position: fixed;
	left: 5px;
	top: 70px;
	height: 40px;
	width: 100px;
	color: rgb(59, 59, 59);
	background-color: rgba(129, 204, 199, 0.795);
	border: 0px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	z-index: 200;
}

#turnBackBtn:hover, #turnBackBtn:focus {
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(129, 204, 199,
		0.795)), to(rgba(78, 151, 148, 0.795)));
}

#turnBackBtn:active {
	background: rgba(78, 151, 148, 0.795);
}